@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-extrabold-webfont.woff") format("woff"),
    url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-bold-webfont.woff") format("woff"),
    url("../fonts/montserrat-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("../fonts/montserrat-semibold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-medium-webfont.woff") format("woff"),
    url("../fonts/montserrat-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
}

/*
div {
  border: 1px rgb(173, 150, 121) solid;
}
*/
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --black-color: #333333;
  --orange-color: #FF9900;
  --orange-color-2:#E1670E;
  --white-color: #ffffff;
  --grey-color: #cacaca;
  --grey-color-2: #ececec;
  --dark-black-color: #222222;
  --dark-grey-color: #414141;
  --grey-color-3: #666666;
  --orange-color-3: #F7B045;
  --super-black-color: #000;
  --gray-color-4: #7C7C7C;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.descr {
  font-size: 16px;
  line-height: 32px;
}

.btn-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.btn {
  border: 1px solid black;
  padding: 10px 20px;
}

.orange-btn {
  border: 1px var(--orange-color) solid;
  background-color: #FF9900;
  color: var(--white-color);
  font-weight: bold;
}

.white-text {
  color: var(--white-color);
}

.black-text {
  color: var(--black-color);
}

.orange-text {
  color: var(--orange-color);
}

.bold {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  max-width: 1776px;
  padding: 0 15px;
}

.container:nth-child(1) {
  margin-top: 0px;
}

.content-descr {
  font-size: 24px;
}

.heading-two {
  margin: 0px;
  font-size: 48px;
  padding-top: 100px;
}

.heading-three {
  font-size: 24px;
  font-weight: bold;
}



/* header */


.header__container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 15px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0;
}

.header__logo {
  padding-left: 12px;
}

.header__menu {
  justify-content: center;
}

.header__menu-navigation-link {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill .5s;
}

.header__menu-container {
  display: flex;
  align-items: center;
}

.header__menu-list-element-link {
  margin-right: 100px;
  font-weight: bold;
  color: var(--black-color);
  transition-property: fill, stroke;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.header__menu-list-element-link:nth-child() {
  margin-right: 0;
}

.header__menu-list-element-link:focus {
  border-bottom: 2px var(--orange-color) solid;
}

.header__menu-list-element-link:hover {
  border: 2px var(--orange-color) solid;
}

.header__menu-list-element-link:active {
    border-bottom: 2px var(--orange-color-2) solid;
    color: #E1670E;
}


.header__menu-navigation-link:focus svg rect {
  fill: var(--orange-color);
}

.header__menu-navigation-link:hover svg rect {
  border: 2px var(--orange-color) solid;
}

.header__menu-navigation-link:active svg rect {
  fill: var(--orange-color);
}

.header__menu-navigation-link:focus svg path {
  stroke: var(--orange-color);
}

.header__menu-navigation-link:hover svg path {
  border: 2px var(--orange-color) solid;
}

.header__menu-navigation-link:active svg path {
  stroke: var(--orange-color);
}
/* hero */


.hero__content {
  max-width: 837px;
  margin: 0;
  padding: 96px 80px;
}

.hero_container {
  background-image: url("/img/low-angle-photo-of-balconies-2462015\ 1.jpg");
  background-size: cover;
}

.hero__content-h1 {
  font-size: 70px;
  line-height: 85.33px;
  margin: 0;
}

.hero__content-descr {
  font-size: 24px;
  line-height: 29px;
  padding-top: 24px;
}

.hero__content-btn {
  margin-top: 90px;
  width: 280px;
  height: 78px;
  font-size: 25px;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.hero__content-btn:hover {
  background-color: var(--orange-color);
  background: rgba(255, 153, 0, 0.7);
}

.hero__content-btn:focus {
  background-color: var(--orange-color);
  background: rgba(255, 153, 0, 0.7);
  border: 1px  rgba(255, 153, 0, 0.7) solid;
}

.hero__content-btn:active {
  background-color: var(--orange-color-2);
  border: 1px  rgba(255, 153, 0, 0.7) solid;
}




/* about-us */


.about-us__block {
  margin-top: 50px;
  justify-content: space-between;
}

.about-us__descr {
  padding-top: 20px;
  max-width: 1235px;
  min-height: 192px;
}

.about-us__blocks {
  max-width: 868px;
/*  min-height: 622px;*/
}

.about-us__block-left {
  align-items: flex-end;
  background-image: url("/img/Rectangle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__bottom {
  min-height: 186px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.about-us__block-left-btn {
  border: 3px var(--orange-color) solid;
  margin: 69px;
  width: 175px;
  height: 60px;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.about-us__block-left-btn:hover  {
  border: 2px var(--orange-color);
  background-color: var(--orange-color);
}

.about-us__block-left-btn:focus{
  background-color: var(--orange-color);
  border: none;
}

.about-us__block-left-btn:active {
  background-color: var(--orange-color-2);
  border: none;
}



.about-us__block-left-descr {
  width: 454px;
  min-height: 96px;
  padding: 50px;
}

.about-us__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__right-top {
  margin-bottom: 26px;
  width: 870px;
  min-height: 295px;
}

.about-us__right-top-img {
  background-image: url("/img/frame16.png");
}

.about-us__right-bottom {
  min-width: 870px;
  min-height: 295px;
  align-items: center;
}

.about-us__right-bottom-img {
  background-image: url("/img/frame12.png");
}

.about-us__right-img {
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: 8.3% 48%;

}

.about-us__content {
  padding-left: 300px;
  padding-right: 118px;
}

.about-us__heading-three {
  padding-top: 65px;
  padding-bottom: 8px;
  margin: 0;
}



/* work */


.work__left {
  min-height: 495px;
  min-width: 856px;
}



.step {
  margin: 50px 86px 45px 0;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.step:focus {
  color: var(--orange-color);
}

.step:hover {
  border: 2px var(--orange-color) solid;
}

.step:active {
    color: #E1670E;
}

.work__heading-three {
  margin-bottom: 8px;
}

.work__blocks {
  display: flex;
  justify-content: space-between;
}

.work__block-right {
  max-width: 870px;
  min-height: 460px;
  padding-top: 153px;
  margin-left: 32px;
}

.work__block-left {
  flex-direction: column;
  justify-content: space-between;
  max-width: 870px;
  min-height: 460px;
}

.work__descr {
  padding-bottom: 44px;
}

.work__left-btn-left {
  margin-right: 20px;
  padding: 20px 38px;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.work__left-btn-left:focus {
  border: 2px var(--orange-color-3) solid;
  background-color: var(--orange-color-3);
}

.work__left-btn-left:hover {
  background-color: var(--orange-color);
  border: 2px var(--orange-color);
}

.work__left-btn-left:active {
  background-color: var(--orange-color-2);
  border: 2px var(--orange-color-2);
}

.work__left-btn-right{
  padding: 20px 38px;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.work__left-btn-right:hover {
  border: 2px var(--grey-color-3);
  background-color: var(--grey-color-3);
  color: var(--white-color);
}

.work__left-btn-right:focus {
  border: 2px var(--grey-color-3);
  background-color: var(--grey-color-3);
  color: var(--white-color);
}

.work__left-btn-right:active {
  border: 2px var(--super-black-color);
  background-color: var(--super-black-color);
  color: var(--white-color);
}


/* questions */

.questions__list-element {
  position: relative;
  margin-top: -1px;
  padding: 25px 0;
  padding-right: 75px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition: border-color .5s;
}

.questions__list-element:hover {
  border-top: 1px #FF9900 solid;
  border-bottom: 1px #FF9900 solid;
}

.questions__list-element:hover .question {
  color: #FF9900;
}

.question {
  transition: color .5s;
}

.question svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.questions__list-element svg ellipse,
.questions__list-element svg path {
  transition: fill 0.5s;
}

.questions__list-element:hover svg ellipse {
  fill: #FF9900;
}

.questions__list-element:hover svg path {
  fill: #fff;
}



/* footer */

.footer__container {
  padding: 50px 75px;
  background-color: var(--dark-black-color);
}

.footer__logo {
  padding-bottom: 0;
}

.footer-list1 {
  padding-top: 0;
}

.footer__left {
  width: 34%;
  min-height: 510px;
}

.footer__blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__list-link {
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  transition-property: background, color;
  transition-duration:  0.3s;
  transition-timing-function:  ease;
}

.header__menu-list-element-link:nth-child() {
  margin-right: 0;
}

.footer__list-link:hover {
  color: var(--orange-color);
}

.footer__list-link:focus {
  border: 2px var(--orange-color) solid;
}

.footer__list-link:active {
  color: var(--orange-color-2);
}


.footer__list-link:nth-child(1) {
  margin-top: 20px;
}

.footer__list-link:last-child() {
  margin-bottom: 90px;
}

.footer-list-bottom {
  margin-top: 111px;
}

.footer-text-color {
  color: var(--grey-color);
}

.icon {
  margin-right: 20px;
}

.footer__center {
  width: 33%;
  min-height: 520px;
}

.footer__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 48px;
}

.form__input {
  width: 570px;
  height: 60px;
  border: transparent;
  margin-bottom: 25px;
  background-color: var(--dark-grey-color);
}


.form__input:focus {
  background-color: var(--grey-color-3);
}

.form__input:hover {
  background-color: var(--grey-color-3);
}

.form__input:active {
  background-color: var(--grey-color-3);
}

.form__area {
  width: 570px;
  height: 150px;
  background-color: var(--dark-grey-color);
  border: transparent;
}

.form__btn {
  margin-top: 32px;
  padding: 19px 52px;
  font-size: 16px;
  font-weight: bold
}

.form_label {
  margin-left: 25px;
}

.footer__right {
  justify-content: flex-end;
  width: 33%;
  padding-top: 78px;
}

.footer_descr {
  width: 363px;
  min-height: 320px;
}

.icon-link svg path  {
  transition: fill 0.5s;
}


.icon-link:focus svg path {
  fill: var(--gray-color-4);
}

.icon-link:focus svg{
  border: 2px var(--orange-color) solid;
}

.icon-link:hover svg path {

  fill: var(--orange-color);
}

.icon-link:active svg path {
  fill: var(--orange-color-2);
}



